.ant-btn-primary {
    background-color: #0066ff;
    span {
        line-height: 24px;
        font-weight: 600;
        letter-spacing: 0.0056em;
    }
    &:disabled span {
        color: #7c7d8b;
    }
}

body {
    background-color: white;
}
